scss2: >
  scss --style compressed
---
<div class="container">
<div class="one" data-set="this">
	<div class="name" data-set="name"> </div>
	<div class="copy">Copyright &copy; 2018 <span data-set="owner">Craig</span></div>
	<div class="content" data-set="content"> </div>
	<div $name="one" @click="test"> </div>
	<style dtemplate-process="scss2">
		.test {
			font-family: Roboto;
			.name {
				font-weight: bold;
			}
			width: 100%;
		}
	</style>
	<style dtemplate-process="scss">
		.next {
			display: flex;
			&>.div {
				display: grid;
			}
		}
	</style>
</div>
</div>
